<?xml version="1.0" encoding="UTF-8"?>
<web_1:web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns:web_1="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	<display-name>coyoho-server</display-name>
	<web_1:context-param>
		<param-name>productionMode</param-name>
		<param-value>false</param-value>
	</web_1:context-param>
	<web_1:context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</web_1:context-param>
	<web_1:context-param>
		<param-name>rubyHome</param-name>
		<param-value>/opt/jruby</param-value>
	</web_1:context-param>
	<web_1:context-param>
		<param-name>rubyLibraryPaths</param-name>
		<param-value></param-value>
	</web_1:context-param>
	<web_1:context-param>
		<param-name>rubyApplicationPaths</param-name>
		<param-value>app
			config</param-value>
	</web_1:context-param>
	<web_1:servlet>
		<web_1:servlet-name>Atmosphere</web_1:servlet-name>
		<web_1:servlet-class>org.atmosphere.cpr.AtmosphereServlet</web_1:servlet-class>
		<web_1:init-param>
			<param-name>org.atmosphere.disableOnStateEvent</param-name>
			<param-value>true</param-value>
		</web_1:init-param>
		<web_1:init-param>
			<param-name>org.atmosphere.useWebSocket</param-name>
			<param-value>true</param-value>
		</web_1:init-param>
		<web_1:load-on-startup>1</web_1:load-on-startup>
		<web_1:async-supported>true</web_1:async-supported>
	</web_1:servlet>
	<web_1:servlet>
		<web_1:servlet-name>Vaadin Application</web_1:servlet-name>
		<web_1:servlet-class>net.grappendorf.rubydin.RubydinApplicationServlet</web_1:servlet-class>
		<web_1:init-param>
			<param-name>applicationClass</param-name>
			<param-value>CoYoHoApplication</param-value>
		</web_1:init-param>
		<web_1:init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>widgetset</param-value>
		</web_1:init-param>
		<web_1:load-on-startup>2</web_1:load-on-startup>
	</web_1:servlet>
	<web_1:servlet>
		<web_1:servlet-name>REST Api Servlet</web_1:servlet-name>
		<web_1:servlet-class>net.grappendorf.rubydin.RubydinHttpServlet</web_1:servlet-class>
		<web_1:load-on-startup>3</web_1:load-on-startup>
	</web_1:servlet>
	<web_1:servlet-mapping>
		<web_1:servlet-name>Atmosphere</web_1:servlet-name>
		<web_1:url-pattern>/server-push</web_1:url-pattern>
	</web_1:servlet-mapping>
	<web_1:servlet-mapping>
		<web_1:servlet-name>REST Api Servlet</web_1:servlet-name>
		<web_1:url-pattern>/api/*</web_1:url-pattern>
	</web_1:servlet-mapping>
	<web_1:servlet-mapping>
		<web_1:servlet-name>Vaadin Application</web_1:servlet-name>
		<web_1:url-pattern>/*</web_1:url-pattern>
	</web_1:servlet-mapping>
	<web_1:listener>
		<listener-class>net.grappendorf.rubydin.RubydinContextListener</listener-class>
	</web_1:listener>
	<web_1:welcome-file-list>
		<web_1:welcome-file>index.html</web_1:welcome-file>
		<web_1:welcome-file>index.htm</web_1:welcome-file>
		<web_1:welcome-file>index.jsp</web_1:welcome-file>
		<web_1:welcome-file>default.html</web_1:welcome-file>
		<web_1:welcome-file>default.htm</web_1:welcome-file>
		<web_1:welcome-file>default.jsp</web_1:welcome-file>
	</web_1:welcome-file-list>
</web_1:web-app>