# Generated content
build/
coyoho-android/bin/
coyoho-android/gen/
coyoho-server/coverage/
coyoho-server/log/
*.s#?
*.b#?
eagle.epf
log/*.log

# IntelliJ
atlassian-ide-plugin.xml
workspace.xml
*/.idea/tasks.xml

# Sublime
*.sublime-workspace
